@media screen and (max-width:600px){
    .line{
        height: 100%;
    }
}
@media screen and (min-width:601px){
    .line {
        height: 500px;
        width: 300px;
        margin: calc((100vh - 500px)/2) auto;
        border: solid 30px  #aaa;
        border-radius: 1em;
    }
}
