<!DOCTYPE html>
<html lang="ja">
{{template "head" .}}
<style type="text/css" media="screen">
  @import url("/css_page/css/page.css");
</style>
<body>
{{template "header" .}}

<div class="container has-text-centered">
<h1>記事一覧</h1>

{{if .errMsg}}
<div style="color:red">
  <p> {{.errMsg}} </p>
</div>
{{end}}

<table class="table" align="center">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>掲示板操作</th>
      <th>データ抹消</th>
    </tr>
  </thead>

  {{$SID := .Session}}
  <tbody>
  {{range .articles}}
    <tr>
      <td>{{.Title}}</td>
      <td>
        {{if or (eq .Userid "") (eq .Userid $SID)}}
          <form action="/status/{{.ID}}/{{.Status}}" method="post" style="display:inline;" >
            {{if ne .Status "Alive"}}
              <button class="button is-success">復活依頼</button>
            {{else}}
              <button class="button is-success">削除依頼</button>
            {{end}}
          </form>
        {{else}}
            <button class="button is-black">削除権限無し</button>
        {{end}}
      </td>
      <td>
        {{if ne .Status "Alive"}}
            {{if or (eq .Userid "") (eq .Userid $SID)}}
              <form action="/drop/{{.ID}}/{{.Status}}" method="post" style="display:inline;" >
                <button class="button is-success">削除可能</button>
              </form>
            {{else}}
              <button class="button is-black">削除権限無し</button>
            {{end}}
        {{end}}
      </td>
    </tr>
  {{end}}
  </tbody>
</table>
</div>

{{template "footer" .}}
</body>

</html>
