{{define "head"}}
<head>
  <title>{{.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css.map">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
{{end}}

{{define "header"}}
<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu is-active">
      <div class="navbar-start">
        <a href="/" class="navbar-item">トップページ</a>
        <a href="/all" class="navbar-item">全スレッド表示</a>
        <a href="/new" class="navbar-item">新規スレッド作成</a>
        <a href="/lobby" class="navbar-item">リアルタイムチャット</a>
      </div>
    </div>
  </nav>
</header>
{{end}}

{{define "footer"}}
<div class="content has-text-centered container">
  <p> created by <a href="https://golang.org/">Golang</a></p><br>
</div>
{{end}}
