{{define "head"}}
<head>
  <title>{{.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css.map">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
{{end}}

{{define "header"}}
<header>
  <section class="hero is-info">
    <div class="level-item">
    <form action="/top" method="get">
      <button class="button is-info is-inverted is-outlined">トップページ</button>
    </form>
    <form action="/all" method="get">
      <button class="button is-info is-inverted is-outlined">全スレッド表示</button>
    </form>
    <form action="/new" method="get">
      <button class="button is-info is-inverted is-outlined">新規スレッド作成</button>
    </form>
    <form action="/lobby" method="get">
      <button class="button is-info is-inverted is-outlined">リアルタイムチャット</button>
    </form>
    {{if .Session}}
      <form action="/bye" method="post">
        <button class="button is-info is-inverted is-outlined">ログアウト</button>
      </form>
    {{else}}
      <form action="/" method="post">
        <button class="button is-info is-inverted is-outlined">ログイン</button>
      </form>
    {{end}}
  </div>
  </section>
</header>
{{end}}

{{define "footer"}}
<div class="content has-text-centered container">
  <p> created by <a href="https://golang.org/">Golang</a></p><br>
</div>
{{end}}
