<html>
{{ template "head" . }}
<style type="text/css" media="screen">
  @import url("/css_chat/chat.css");
</style>
{{ template "header" .}}
  <head>
    <title>LINE</title>
  </head>

  <body>

    <div class="line">
      <div id="room" class="line-header">Join Room</div>
      <div id="chat" class="line-container"></div>
      <div class="line-form">
          <input placeholder="room" size="10px" id="channel" type="text">
          <input placeholder="user name" size="10px" id="user" type="text">
          <button id="join" class="line-form-button" onclick="send_data()">Join</button>
      </div>
    </div>

    <script>
      const chan = document.getElementById("channel");
      const join = document.getElementById("join");
      const user = document.getElementById("user");

      join.onclick = function () {
        if (chan.value != "") {
        　　localStorage.setItem("user",user.value)
          　window.location = "/room/" + chan.value;
        }
      };

    </script>
  </body>
</html>
