<html>
  <head>
    <title>LINE</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css_chat/css/chat.css">
    <script type="text/javascript" src="/css_chat/js/index.js"></script>
  </head>
  <body>
    <div class="line">
      <div id="room" class="line-header">{{.Name}}</div>
      <div id="chat" class="line-container"></div>
      <div class="line-form">
        <input id="text" type="text">
        <button class="line-form-button" onclick="kakunin(1)">Send</button>
      </div>
    </div>
  </body>
</html>
