<html>
{{ template "head" .}}
<style type="text/css" media="screen">
  @import url("/chat_css/css/chat.css");
</style>

{{ template "header" .}}
  <head>
    <title>LINE</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="line">
      <div id="room" class="line-header">Welcome to Chatroom</div>
      <div id="chat" class="line-container"></div>
      <div class="line-form">
        <input id="text" type="text">
        <button class="line-form-button" onclick="send_data()">Send</button>
      </div>
    </div>
    <script type="text/javascript" src="/css_chat/js/index.js"></script>
  </body>
</html>
